body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: e7e7e7; */
  background-color: #2c3347;
}

h1 {
  margin: 0 auto;
  width: fit-content;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.main-timer-container {
  width: 500px;
  height: 500px;

  color: white;
  margin: 60px auto;
  padding-top: 30px;
  border-radius: 20px;
}

.timer-btns {
  margin: 0 auto;
  width: 400px;
  margin-top: 70px;
  text-align: center;
}

.time-div {
  display: flex;
  width: 200px;
  height: 200px;
  border: 3px rgb(196, 150, 34) solid;
  margin: 0 auto;
  padding: 0;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

div > p {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 30px;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#start-btn {
  background-color: rgb(35, 194, 41);
}

#pause-btn {
  margin-left: 20px;
  background-color: rgb(189, 22, 22);
}

#reset-btn {
  margin-left: 20px;
  background-color: rgb(192, 133, 23);
}

@media screen and (max-width: 480px) {
  .main-timer-container {
    width: 320px;
    margin: 0 auto;
  }

  button {
    padding: 4px 8px;
    font-size: 12px;
  }
  .timer-btns {
    width: 300px;
  }
  h1 {
    font-size: 36px;
  }
}
